* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: 0.25s all ease-in-out;
}

body {
  background-color: #1a1633;
  height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Background Image */
.bgImg {
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: brightness(0.6);
}

/* Navbar on Top */
.navbar {
  background-color: #e2e2e2;
  display: flex;
  padding: 1rem;
}

.header {
  flex: 50%;
  display: flex;
  align-items: center;
}

.header h2 {
  flex: 100%;
  font-size: 1.5rem;
  font-family: "Major Mono Display", monospace;
  color: #4a446e;
}

/* Toggle menu button */
.ham {
  color: #4a446e;
  display: none;
}

.navbar ul {
  flex: 50%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar li {
  border-left: 1px solid #60578b;
}

.navbar a {
  text-decoration: none;
  padding: 0 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #4a446e;
}

.navbar a:hover {
  text-decoration: none;
  color: #1a1633;
  text-decoration: underline;
}

/* Middle alignment */
.aligned {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

/* Home Page */
.home h1 {
  color: #e2e2e2;
  font-size: 3rem;
}

/* Short URL Generate form */
.generateForm {
  flex-direction: column;
  padding: 3rem 0;
}

.generateForm p {
  color: #e2e2e2;
  font-size: 3rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.generateForm form {
  border: 1px solid #e2e2e252;
  width: 60%;
  padding: 3rem 2rem;
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

.generateForm input {
  font-size: 1.2rem;
  border: none;
  color: #e2e2e2;
}

.generateForm input[type="text"],
input[type="password"] {
  width: 100%;
  outline: none;
  background: none;
  color: #e2e2e2;
  font-weight: 400;
  padding: 1rem 1rem 1rem 0;
}

.generateForm input[type="submit"] {
  padding: 1rem;
  color: #1a1633;
  background-color: #e2e2e2;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.generateForm input[type="submit"]:hover {
  color: #e2e2e2;
  background-color: #1a1633;
  border: 1px solid #e2e2e252;
}

.flex {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}

.form-icon {
  color: #e2e2e2;
  font-size: 1.3rem;
  margin-right: 1rem;
}

/* Login Form */
.login form {
  flex-direction: column;
  max-width: 500px;
}

.login .back {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 300;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.login input[type="submit"] {
  width: 30%;
  font-size: 1rem;
  margin-top: 1rem;
}

.login .message {
  font-size: 0.9rem;
  color: crimson;
  text-align: left;
  padding: 0.5rem;
}

.lLink {
  margin-top: 1rem;
}

.lLink a {
  color: #e2e2e2;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
}

.uline:hover {
  text-decoration: underline;
}

.r-border {
  border-right: 1px solid #7a70ac;
}

.b-border {
  border-bottom: 1px solid #e2e2e250;
  width: 100%;
}

/* Wrapping column data for long data in list of Urls */
.ellip {
  white-space: nowrap;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.urlList {
  margin: 3rem;
}

/* Row data */
.row {
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  background-color: #e2e2e2;
  padding: 0 1rem;
  line-height: 3rem;
  color: #60578b;
}

/* Column data */
.col {
  padding: 0 0.5rem;
  width: 100%;
}

.m-align {
  text-align: center;
}

.s-width {
  width: 300px;
}

.h-row {
  background-color: #ada7cc69;
  color: #e2e2e2;
}

/* Footer */
.footer {
  background-color: #e2e2e2;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a446e;
  font-size: 0.9rem;
}

@media screen and (max-width: 720px) {
  .generateForm p {
    font-size: 150%;
  }

  .login input,
  .login input[type="submit"],
  .form-icon,
  .login .back {
    font-size: 80%;
  }

  .header {
    padding: 1rem;
    z-index: 99;
  }

  .navbar {
    padding: 0;
  }

  .navbar ul {
    position: absolute;
    flex-direction: column;
    width: 100%;
    background-color: #e2e2e2;
    z-index: 1;
  }

  .navbar .close {
    top: -15rem;
    opacity: 0;
  }

  .navbar .open {
    top: 3.5rem;
    opacity: 1;
  }

  .navbar li {
    padding: 1.5rem 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #60578b;
    border-left: none;
  }

  .ham {
    display: block;
  }

  .urlList {
    margin: 1rem;
    font-size: 80%;
  }
}

@media screen and (max-width: 575px) {
  .generateForm form {
    flex-direction: column;
  }

  .login form {
    width: 80%;
  }

  .generateForm input[type="submit"] {
    width: 100%;
  }
}
